.img-desc-cta {

}

.img-cta {
    width: 900px;
    border: 1px groove black;
    margin: 0 auto;
}

img {
    padding: 32px;
    width: 100%;
    height: 100%;
}

.desc-wrap {
    display: flex;
    width: 900px;
    border: 1px solid gray;
    margin: 0 auto;
    height: 100%;

}

.desc{
    margin-left: 32px;

}